@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::backdrop, :after, :before {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

/* Global responsiveness helpers */
html, body {
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.main__intro__page {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  color: #1a1b1c;
}

.nav__row {
  height: 64px;
  margin: 0px 0px 12px;
  padding: 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  position: relative;
}

.navbar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: calc(var(--spacing) * 1);
  --tw-scale-x: 75%;
  --tw-scale-y: 75%;
  --tw-scale-z: 75%;
  scale: var(--tw-scale-x) var(--tw-scale-y);
  padding: 4px 0px 0px;
}

.navbar__left--name {
  text-decoration: none;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  color: #1a1b1c;
  white-space: nowrap;
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  --tw-leading: 16px;
  line-height: 16px;
  font-size: var(--text-sm);
  padding-block: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 4);
  border-radius: var(--radius-md);
  gap: calc(var(--spacing) * 2);
  justify-content: center;
  align-items: center;
  height: calc(var(--spacing) * 9);
  display: inline-flex;
  -webkit-box-orient: vertical;
  margin-right: calc(var(--spacing) * 2);
  z-index: 1000;
  font-size: 14px;
  font-weight: 600;
  font-family: "roboto";
  margin: 0px 8px 0px 0px;
  padding: 8px 16px;
}

.navbar__left--page-name {
  font-size: 14px;
  font-family: "roboto";
  font-weight: 600;
  color: #1a1b1c83;
  margin: 0px 2px;
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-semibold);
}

.navbar__left--img {
  width: 4px;
  height: 17px;
  max-width: 100%;
  display: block;
  color: transparent;
  margin: 0px 4px;
}

.animate-spin-slow {
  animation: spin 50s linear infinite;
}

.animate-spin-slower {
  animation: spin 70s linear infinite;
}

.animate-spin-slowest {
  animation: spin 85s linear infinite;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}